body{
    background: #F5F5F5;
    display:flex;
    align-items:center;
    flex-direction:column;
    font-family: "Inter", sans-serif;
    flex-direction: column;
    
}

.titulo{
    text-align: center;
    color: #AAAAAA;
    font-weight: normal;
}

.container{
    background: #ffffff;
    width: 800px;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 20px;
    border-radius: 15px;
    
}

.card{
    padding-top: 20px;
}

.card img{
    float: left;
    width: 18%;
    margin-bottom: 20px;
    margin-right: 10px;
   padding-top: 10px;
}

.cinza{
    color:#AAAAAA
}

.azul{
    color: #0d798f
}

hr{
    margin-top: 100px;
    clear: both;
    border-top: 1px solid #E0E0E0;
}

.azul, .cinza, .texto {
    margin-top: 5px;
    margin-bottom: 5px; 
    line-height: 1.2; 
}


button {
    border: none;
    font: inherit;
    background-color: #0d798f;
    text-align: center;
    color: #ffffff;
    width: 300px;
    position: absolute;
    padding: 10px 20px;
    right: 30px;
    margin-top: 20px;
    
}


.contatos {
    text-align: center;
}

.contatos footer {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
   
}
.contatos ul {
    list-style: none;
}

.contatos li {
    margin-bottom: 10px;
}

.contatos a {
    text-decoration: none;
    color: #0d798f;
}

.info{
    font-weight:normal ;
}


