body{
    align-items: center;
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
}

.azul{
    color: #0d798f;
    margin-top: 5px;
    margin-bottom: 5px; 
    line-height: 1.2; 
}

button {
    background-color: #0d798f;
    border: none;
    color: #ffffff;
    font: inherit;
    margin-top: 20px;
    padding: 10px 20px;
    position: absolute;
    right: 30px;
    text-align: center;
    width: 300px;
}

.card{
    padding-top: 20px;
}

.card img{
    float: left;
    margin-bottom: 20px;
    margin-right: 10px;
    padding-top: 10px;
    width: 18%;
}

.cinza{
    color:#AAAAAA;
    margin-top: 5px;
    margin-bottom: 5px; 
    line-height: 1.2; 
}

.container{
    align-items: center;
    background: #ffffff;
    border-radius: 15px;
    margin: 0;
    padding: 20px;
    position: relative;
    width: 800px;
}

.contatos {
    text-align: center;
}

.contatos a {
    color: #0d798f;
    text-decoration: none;
}

.contatos footer {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 15px;
}

.contatos li {
    margin-bottom: 10px;
}

.contatos ul {
    list-style: none;
}

hr{
    border-top: 1px solid #E0E0E0;
    clear: both;
    margin-top: 100px;
}

.info{
    font-weight: normal;
}

nav {
    background-color: #848d8f;
    border-radius: 15px;
    padding: 15px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.titulo{
    color: #0d798f;
    font-weight: normal;
    text-align: center;
}

.texto {
    margin-top: 5px;
    margin-bottom: 5px; 
    line-height: 1.2; 
}